<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<target name="file" xsi:type="File" fileName="${basedir}/Logs/${level}_${shortdate}.log" layout="${longdate}: ${message}${newline}" />
		</targets>
		<rules>
			<logger name="*" writeTo="file" />
		</rules>
	</nlog>
</configuration>